# Local export path.
MINIO_VOLUMES="{% for host in groups['role_node'] -%}
 http://{{ hostvars[host]['ansible_ens3']['ipv4']['address'] }}/mnt/minio{% if not loop.last %} {% endif %}
{%- endfor %}"
# Access Key of the server.
MINIO_ACCESS_KEY={{ access_key }}
# Secret key of the server.
MINIO_SECRET_KEY={{ secret_key }}
